<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
        <title>Listly - Business Directory & Listings HTML Template</title>
		
        <!-- All Plugins Css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plugins.css') }}">
		 
		<link rel="shortcut icon" href="#">

		
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="{{ url_for('static', filename='assets/css/colors.css') }}" rel="stylesheet">
		
    </head>
	
    <body class="red-skin">

        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-dark">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="{{ url_for('static', filename='assets/img/logo-light.png') }}" class="logo hd-992" alt="" />
								<img src="{{ url_for('static', filename='assets/img/logo.png') }}" class="logo sw-m" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
							
								<li class="active"><a href="javascript:void(0);">Home<span class="submenu-indicator"></span></a>
								</li>
								
								<li><a href="contact.html">Contacts</a></li>
								
							</ul>
							
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero-banner" style="background:url(https://via.placeholder.com/1920x900) no-repeat;" data-overlay="6">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
						
							<h1 class="big-header-capt capti">Discover Your City</h1>
							<div class="full-search-2 Reveal-search Reveal-search-radius box-style">
								<div class="Reveal-search-content">
									
									<div class="row">
									
										<div class="col-lg-4 col-md-4 col-sm-12 br-left-p">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Keywords...">
													<i class="theme-cl ti-search"></i>
												</div>
											</div>
										</div>
										
										<!-- <div class="col-lg-3 col-md-3 col-sm-12 br-left-p">
											<div class="form-group">
												<div class="input-with-icon">
													<input type="text" class="form-control" placeholder="Location...">
													<i class="theme-cl ti-target"></i>
												</div>
											</div>
										</div> -->
										
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<div class="input-with-icon">
													<select id="list-category" class="form-control">
														<option value="">&nbsp;</option>
														<option value="1">Spa & Bars</option>
														<option value="2">Restaurants</option>
														<option value="3">Hotels</option>
														<option value="4">Educations</option>
														<option value="5">Business</option>
														<option value="6">Retail & Shops</option>
														<option value="7">Garage & Services</option>
													</select>
													<i class="theme-cl ti-briefcase"></i>
												</div>
											</div>
										</div>
										
										<div class="col-lg-2 col-md-2 col-sm-12">
											<div class="form-group">
												<a href="#" class="btn search-btn">Search</a>
											</div>
										</div>
										
									</div>
									
								</div>
								
							</div>
							<div class="popular-cat-list">
								<ul>
									<li><a href="grid-with-sidebar.html">Hotel & Spa</a></li>
									<li><a href="grid-with-sidebar.html">Education</a></li>
									<li><a href="grid-with-sidebar.html">Shopping</a></li>
									<li><a href="grid-with-sidebar.html">Restaurants</a></li>
								</ul>	
							</div>
						
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Calegory Start ================================== -->
			
			<!-- ============================ Calegory End ================================== -->
			
			<!-- ============================ Listings Start ================================== -->
			<section>
				<div class="container">
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="sec-heading center">
								<h2>Featured</h2>
								<h3>Top Rated <span class="theme-cl">Places</span></h3>
							</div>
						</div>
					</div>
					<!-- Row -->
					
					<!-- Row -->
					<div class="row">
						
						<!-- Single Listing Grid -->
						{% for place in datas %}
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="Reveal-grid-wrapper">
								<div class="Reveal-grid-thumb">

									<div class="lup-category"><a href="/listing?id={{place.id}}">{{place.Catagory}}</a></div>
									<a href="/listing?id={{place.id}}" class="lup-box"><img src="{{place.Photos_Place}}" class="img-fluid" alt="" style="width: 100%; height: 220px; object-fit: none;" /></a>
								</div>
								<div class="Reveal-grid-caption">
									<div class="Reveal-grid-caption-header">
										<h4 class="Reveal-header-title"><a href="/listing?id={{place.id}}">{{place.Name}}</a></h4>
										<div class="Reveal-grid-reviews">
											{% for st in range(place.stared) %}<i class="fas fa-star filled"></i>{% endfor %}
											{% for st in range(place.noneStared) %}<i class="fas fa-star"></i>{% endfor %}
											<span class="overall-reviews">{{place.Rate}} / ({{place.Reviews_Count}})</span>
										</div>
									</div>
									<div class="Reveal-grid-caption-body">
										<ul class="Reveal-contact-list">
											<li><img src="{{ url_for('static', filename='assets/img/add.svg') }}" class="" alt="" />{{place.Address}}</li>
											<li><img src="{{ url_for('static', filename='assets/img/call.svg') }}" class="" alt="" />{{place.Telephone}}</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>
						{% endfor %}
					<!-- Row -->
					
					
					
				</div>
			</section>
			<!-- ============================ Listings End ================================== -->
			
			<!-- ============================ Reviews Start ================================== -->

			<!-- ============================ Reviews End ================================== -->
			
			<!-- ================================= Blog Grid ================================== -->

			<!-- ============================= Blog Grid End ================================ -->
			
			<!-- ============================ Call To Action Start ================================== -->
			<section class="p-0">
				<div class="container">
					<div class="row call-wrapios theme-bg">
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="call-wrapios-box">
								<div class="call-wrapios-box-icon">
									<img src="{{ url_for('static', filename='assets/img/big-24-hours.svg') }}" class="img-fluid" alt="" />
								</div>
								<div class="call-wrapios-box-caption">
									<h5>Make A Call</h5>
									<h3>+91 532 548 7596</h3>
								</div>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="call-wrapios-box">
								<div class="call-wrapios-box-icon">
									<img src="{{ url_for('static', filename='assets/img/big-newsletter.svg') }}" class="img-fluid" alt="" />
								</div>
								<div class="call-wrapios-box-caption">
									<h5>Subscribe Now!</h5>
									<div class="inner-flexible-box subscribe-box">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Enter your mail here">
											<button class="btn btn-subscribe" type="button"><i class="fa fa-arrow-right"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div class="ht-80"></div>
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-4 col-md-6">
								<div class="footer-widget">
									<img src="{{ url_for('static', filename='assets/img/logo-light.png') }}" class="img-fluid f-logo" alt="" />
									<p>407-472 Rue Saint-Sulpice, Montreal<br>Quebec, H2Y 2V8</p>
									<ul class="footer-bottom-social">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>		
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="faq.html">FAQs Page</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="login.html">Login</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Developers</h4>
									<ul class="footer-menu">
										<li><a href="booking.html">Booking</a></li>
										<li><a href="stays.html">Stays</a></li>
										<li><a href="adventures.html">Adventures</a></li>
										<li><a href="author-detail.html">Author Detail</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="faq.html">Jobs</a></li>
										<li><a href="checkout.html">Events</a></li>
										<li><a href="about-us.html">Press</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">Support</a></li>
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="checkout.html">Privacy & Terms</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2021 Reveal. Designd By <a href="https://themezhub.net">Themezhub</a> All Rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">Log <span class="theme-cl">In</span></h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-icon gray">
											<input type="text" class="form-control" placeholder="Username">
											<i class="ti-user"></i>
										</div>
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<div class="input-with-icon gray">
											<input type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
							<div class="modal-divider"><span>Or login via</span></div>
							<div class="social-login mb-3">
								<ul>
									<li><a href="#" class="btn fb"><i class="ti-facebook"></i></a></li>
									<li><a href="#" class="btn google"><i class="ti-google"></i></a></li>
									<li><a href="#" class="btn twitter"><i class="ti-twitter"></i></a></li>
								</ul>
							</div>
							<div class="modat-foot">
								<div class="md-left">Have't Account? <a href="register.html" class="theme-cl">Sign Up</a></div>
								<div class="md-right"><a href="#" class="theme-cl">Forget Password?</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/rangeslider.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/select2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slick.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/slider-bg.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/lightbox.js') }}"></script> 
		<script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/counterup.min.js') }}"></script>
		 
		<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>